* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a:link{
	text-decoration: none;
}
footer div a:hover {
	text-decoration: underline;
}
footer{
	position: absolute;
	width: 100%;
	background-color: #e6e6e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-bottom: 50px;
}
footer .horizontal_line{
	background-color: #cccccc;
	height: 1px;
	width: 100%;
}
footer div{
	float: left;
}
footer div a {
	display: block;
	color: #666666;
	padding: 3px 10px;
}
footer div a:first-of-type{
	color: #4c4c4c;
	padding: 30px 10px;
	font-weight: bold;
	font-size: 16px;
}
@media (min-width: 992px) { /* xl and l */
	footer{
		padding: 0px calc(50% - 600px) 50px calc(50% - 600px);
	}
	footer div{
		width: 20%;
	}
	footer div:last-of-type{
		width: 100%;
	}
	footer div:last-of-type a{
		width: 25%;
		float: left;
	}
	footer div:last-of-type a:first-of-type{
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 991px) { /* m */
	footer div{
		width: calc(100% / 3);
	}
	footer div:nth-of-type(5){
		clear: left;
	}
}
@media (max-width: 767px) { /* s */
	footer div{
		width: 50%;
	}
	footer div:nth-of-type(4), footer div:nth-of-type(6){
		clear: left;
	}
}