:root {

}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header div {
	float: left;
}
.horizontal_line_header{
	background-color: #006292;
	height: 5px;
	width: 100%;
}
/******************************************************************************************************/
header{
	position: relative;
	height: 180px;
}
#logo{
	height: 150px;
	width: 150px;
	margin: 15px;
	float: left;
}
/******************************************************************************************************/
#call_button{
	margin: 24px; /* (header - menu - call) / 2 = (180 - 70 - 62) / 2 = 24 */
	color: dimgray;
	float: right;
}
#call_button i{
	font-size: 32px;
	transition: 0.3s;
	padding: 15px;
	border-radius: 50%;
	float: left;
}
#call_button:hover i{
	background-color: red;
	color: white;
}
#call_button div{
	margin-left: 20px;
	margin-top: 11.5px; /* (call_icon - call_text) / 2 = (62 - 39) / 2 = 11.5 */
	float: left;
}
#call_button span:nth-of-type(1){
	color: red;
	font-size: 18px;
}
#call_button span:nth-of-type(2){
	font-size: 16px;
}
/******************************************************************************************************/
#menu{
	position: absolute;
	background-color: #303384;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
#menu a{
	transition: 0.2s;
	color: white;
}
#menu a:hover{
	background-color: #006292;
}
/******************************************************************************************************/
@media (min-width: 1200px) { /*xl*/
	header{
		padding: 0px calc(50% - 600px);
	}
	#hamburger{
		display: none;
	}
	#menu{
		padding-top: 25px;
		padding-bottom: 24px;
		bottom: 0px;
		right: 0px;
		width: calc(50% + 400px); /* 100% - left_margin - icon = 100% - (100% - 1200) / 2 - 180 = 50% + 420 */
	}
	#menu a{
		padding: 25px;
	}
}
/******************************************************************************************************/
@media (min-width: 992px) and (max-width: 1199px) { /* l */
	#hamburger{
		display: none;
	}
	#menu{
		padding-top: 25px;
		padding-bottom: 24px;
		bottom: 0px;
		right: 0px;
		width: calc(100% - 200px);
	}
	#menu a{
		padding: 25px 10px;
	}
}
/******************************************************************************************************/
@media (min-width: 768px) and (max-width: 991px) { /* m */
	#call_button{
		margin-top: 39px; /* (header - call) / 2 = (180 - 102) / 2 = 39 */
		margin-left: calc(100% - 500px); /* 100% - logo - call - hamburger - margin = 100% - 180 - 140 - 80 - 100 = 100% - 500 */
		margin-right: 0px;
		margin-bottom: 0px;
		float: left;
		text-align: center;
	}
	#call_button i{
		font-size: 25px;
		margin-left: 17px; /* (call - phone_icon) / 2 = (126 - 92) / 2 = 17 */
	}
	#call_button div{
		clear: both;
		margin-left: 0px;
	}
	#call_button span:nth-of-type(1){
		font-size: 14px;
	}
	#call_button span:nth-of-type(2){
		font-size: 12px;
	}
	#hamburger{
		margin-top: 75px; /* (header - hamburger) / 2 = (180 - 30) / 2 = 75 */
		margin-right: 20px;
		height: 30px;
		float: right;
		cursor: pointer;
	}
	#menu{
		top: 185px;
		width: 100%;
		text-align: center;
	}
	#menu a{
		padding: 10px;
		width: 50%;
		display: inline-block;
	}
}
/******************************************************************************************************/
@media (max-width: 767px) { /* s */
	header{
		height: 220px;
	}
	#call_button{
		margin-top: 41px; /* (header - call) / 2 = (180 - 98) / 2 = 41 */
		margin-right: calc(50% - 147px); /* (100% - logo - call) / 2 = (100% - 180 - 114) / 2 = 50% - 147  */
		margin-left: 0px;
		margin-bottom: 0px;
		text-align: center;
	}
	#call_button i{
		font-size: 20px;
		margin-left: 17px; /* (call - phone_icon) / 2 = (114 - 80) / 2 = 17 */
	}
	#call_button div{
		clear: both;
		margin-left: 0px;
	}
	#call_button span:nth-of-type(1){
		font-size: 12px;
	}
	#call_button span:nth-of-type(2){
		font-size: 10px;
	}
	#hamburger{
		margin: 5px calc(50% - 30px);
		height: 30px;
		clear: both;
		cursor: pointer;
	}
	#menu{
		top: 225px;
		width: 100%;
		text-align: center;
	}
	#menu a{
		padding: 10px;
		width: 100%;
		display: inline-block;
	}
}
/******************************************************************************************************/
@media (max-width: 991px) { /* m and s */
	.hidden_m_s{
		display: none;
	}
}